.page[b-n9bywcl6fj] {
    position: relative;
    display: flex;
    flex-direction: column !important;
    min-height: 100vh;
}


main[b-n9bywcl6fj] {
    flex: 1;
}

/* === En-t�te (barre de navigation en haut) === */
.top-row[b-n9bywcl6fj] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

    .top-row[b-n9bywcl6fj]  a,
    .top-row[b-n9bywcl6fj]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-n9bywcl6fj]  a:hover,
        .top-row[b-n9bywcl6fj]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-n9bywcl6fj]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

/* === Responsive - Mobile === */
@media (max-width: 640.98px) {
    .top-row[b-n9bywcl6fj] {
        justify-content: space-between;
    }

        .top-row[b-n9bywcl6fj]  a,
        .top-row[b-n9bywcl6fj]  .btn-link {
            margin-left: 0;
        }
}


